<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css" </head>

<body>
    <header>
    </header>
    <br>
    <!--We can connect the different pages to this navigation bar, I would use href however I am sure theres some ejs stuff we could do-->
    <div class="topnav">
        <img class="image" src="./zachImage" width="200" height="200px">
        <div class="navbar">
            <a href="/">Home</a>
            <a href="/resume">Resume</a>
            <a href="/contact">Contact</a>
            <a href="/androidProjects">Android Projects</a>
            <a href="/webProjects">Web Projects</a>
        </div>
    </div>
</header>