<%- include('./partials/header.ejs')%>
<h1 class = "header">
    Mobile Application Projects  
  </h1>
  <div class ="webProjectsInfo">
  <h2 class ="header">
      Networking/Forums Application
  </h2>
  <h3>Project Specifications</h3>
  <a href = "https://github.com/zachpacello7/Forums-Project/tree/main/app/src">Git Hub Link to the Project</a>
  <p class = "webInfo">Forrums application where users can list, create and delete posts.  Data is stored using FireBase FireStore
  </p>
  <h3>Project implementations</h3>
  <p class = "webInfo">Recyler Views, List Views, FireBase authentication and storage, Fragments, Event handling  </p>
</div>

<div class ="webProjectsInfo">
    <h2 class ="header">
        Networking/Forums Application with API calls
    </h2>
    <h3>Project Specifications</h3>
    <a href = "https://github.com/zachpacello7/Forums-Project/tree/main/app/src">Git Hub Link to the Project</a>
    <p class = "webInfo">Forrums application that uses an API to retreive the forums.  User authentication is provided and users can list, create and delete posts.
    </p>
    <h3>Project implementations</h3>
    <p class = "webInfo">Recyler Views, List Views, OkHTTP Library for API calls, Fragments, Event handling  </p>
  </div>
  <footer class = "footer2">Zachary Pacello, UNC Charlotte, Computer Science</footer>