<%- include('./partials/header.ejs')%>
    <p>Phone Number: 704-918-3326</p>
    <p>Email: zachpacello7@gmail.com</p>
    <a href = "https://www.linkedin.com/in/zachary-pacello-a64390207/">Linkedin page</a>
<%- include('./partials/footer.ejs')%>

