<%- include('./partials/header.ejs')%>
    <h1 class="header">Zachary Pacello Education</h1>
    <p><strong>Bachelor of Science,</strong> Computer Science, <strong>Concentration: </strong>Web and Mobile Applications</p>
    <div class = "education">
    <p><strong>Master of Science,</strong> Computer Science, <strong>Concentration: </strong>AI Robotics & Gaming</p>
</div>
    <p>Expected Graduation Date: December 2022</p>
    <h1 class="header1">Skills</h1>
    <h2>Proficient in the following</h2>
    <strong><p>Java/Android Development, JavaScript, MVC, Express, API Programming, Server Development</p></strong>
    <h2>Experience with the following</h2>
    <strong><p>C, C++, Go Programming, GraphQL, VueJS </p></strong>
<%- include('./partials/footer.ejs')%>

