<%- include('./partials/header.ejs')%>
    <h1 class = "header">
      Web-Based Application Projects  
    </h1>
    <div class ="webProjectsInfo">
    <h2 class ="header">
        Exercise, Dieting and Health Application
    </h2>
    <h3>Project Specifications</h3>
    <a href = "https://github.com/KremmyRamen/ITIS-4440-Group">Git Hub Link to the Project</a>
    <p class = "webInfo">Application calls three different API's to retreive exercise and dieting data.  User authentication
        is provided for adding exercises and recipes to your profile page. 
    </p>
    <h3>Project implementations</h3>
    <p class = "webInfo">MVC design pattern, Express, dynamic view templates/EJS, User authentication, API programming, mongoose, bcrypt/password hashing, middleware functions, Sessions, Flash Messages, Data Modeling </p>
</div>
<div class ="webProjectsInfo">
    <h2 class ="header">
        BMW Event/Meet Up Application
    </h2>
    <h3>Project Specifications</h3>
    <a href = "https://github.com/zachpacello7/BMW-Event-Meet-up-Application">Git Hub Link to the Project</a>
    <p class = "webInfo">Application provides user authentication to perform CRUD operations on events they created. Users can also RSVP for events created by other users. Profile page is provided for users to view the event they have created and events they have RSVP'ed for  
    </p>
    <h3>Project implementations</h3>
    <p class = "webInfo">MVC design pattern, Express, dynamic view templates/EJS, User authentication, API programming, mongoose, bcrypt/password hashing, middleware functions, Sessions, Flash Messages, Data Modeling, User Authorization, Server-side input validation,  </p>
    </div>
    <footer class = "footer1">Zachary Pacello, UNC Charlotte, Computer Science</footer>